<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>

<div>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand text-size">
                To-Do List
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav right-side">
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-success btn-lg" th:href="@{/todolist}">All tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-success btn-lg" th:href="@{/todolist/new}">Add task</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>

<div class="container-fluid">
    <h2 class="text-center">[[${pageTitle}]]</h2>

    <div class="my-3">
        <form th:action="@{/todolist/save}" method="post" enctype="multipart/form-data" th:object="${todolist}"
              style="max-width: 550px; margin: 0 auto">

            <input type="hidden" th:field="*{id}" />

            <div class="p-3">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="task">Task</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{task}" required minlength="2" maxlength="128" class="form-control"
                               id="task" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="description">Description</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{description}" minlength="2" maxlength="256" class="form-control"
                               id="description" />
                    </div>
                </div>

                <div class="text-center">
                    <input type="submit" value="Save" class="btn btn-primary btn-sm mr-2" />
                    <input type="button" value="Cancel" id="btnCancel" class="btn btn-secondary btn-sm" />
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
      $("#btnCancel").on("click", function () {
        window.location = "[[@{/todolist}]]";
      });
    });
</script>

</body>

</html>